/** global element styling **/

@import "https://fonts.googleapis.com/css?family=Lato:400,700";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: 'Lato', sans-serif;
}

#page-wrapper {
  position: relative;

}

li {
  list-style: none;
 
}

a {
  color: #000;
  text-decoration: none;
}



/* some temporary backgroun colours to see the different sections */
header{
    background-color: lightyellow;
    text-align: center;
    position: fixed;
    display: flex;
}

#link-to-a{
    background-color: cadetblue;
}

#link-to-b{
    background-color: lightblue
}

#link-to-c{
    background-color: lightgrey
}

@media (max-width: 600px) {
    header {
      flex-wrap: wrap;
    }
  }

 

  .logo > img {
    width: 10%;
  }